## Copyright (C) by Miles Bradley Huff from 2017-2020 per the LGPL3 (the Third Lesser GNU Public License)

[init]
defaultBranch = main

[commit]
#gpgsign = true

[core]
# autocrlf = true
checkStat = minimal
compression = -1
editor = nano
hideDotFiles = true
ignoreCase = false
looseCompression = 1
precomposeUnicode = true
quotePath = false
safecrlf = warn
sharedRepository = umask

[gpg]
#program = /usr/bin/gpg2

[merge]
directoryRenames = true
renormalize = true

[pack]
compression = 9

[pull]
rebase = merges

[push]
default = simple

[user]
email = MilesBHuff@Users.NoReply.Github.com
name = Miles B Huff
#signingkey = 0x7BD3CF7F9CB1D54FC2BDDA09E37A04E55B745375

[color]
ui = auto

[advice]
detachedHead = false
