#!/usr/bin/env sh
## Copyright (C) by Miles Bradley Huff from 2019-2024 per the LGPL3 (the Third Lesser GNU Public License)
## Remember:  This file needs to be compatible with POSIX sh!
##
## Note that this should only be environment variables for Xorg apps;
## all other user environment variables should go into ~/.pam_environment, ~/.i18n, or ~/.profile.

## Backends
export \
    GDK_BACKEND=x11 \
    QT_QPA_PLATFORM=xcb \

## Preferred applications
export \
    BROWSER=firefox \
    VISUAL=code \

## Firefox
export \
    MOZ_ENABLE_WAYLAND=0 \
    MOZ_USE_XINPUT2=1 \
