## Copyright © by Miles Bradley Huff from 2017 per the LGPL3 (the Third Lesser GNU Public License)
[core]
editor = atom
[push]
default = simple
[user]
email = MilesBHuff@Users.NoReply.Github.com
name = Miles B Huff
