## Copyright © by Miles Bradley Huff from 2017 per the LGPL3 (the Third Lesser GNU Public License)
**
## Files to include
!.aliasrc
!.bash_profile
!.bashrc
!.directory
!.dosaliasrc
!.face
!.gitignore
!.gitconfig
!.gnupg/dirmngr.conf
!.gnupg/gpg.conf
!.nanorc
!.pam_environment
!.profile
!.xinitrc
!.Xresources
!.zprofile
!.zshrc
