**
## Files to include
!.aliasrc
!.bash_profile
!.bashrc
!.directory
!.dosaliasrc
!.face
!.gitignore
!.gitconfig
!.gnupg/dirmngr.conf
!.gnupg/gpg.conf
!.nanorc
!.pam_environment
!.profile
!.xinitrc
!.Xresources
!.zprofile
!.zshrc
