# This is a whitelist
*

# Directories
!./.gnupg

# Files
!./.aliasrc
!./.bash_profile
!./.bashrc
!./.dosaliasrc
!./.face
!./.gitignore
!./.nanorc
!./.pam_environment
!./.profile
!./.zprofile
!./.zshrc
