## Copyright (C) by Miles Bradley Huff from 2017-2024 per the LGPL3 (the Third Lesser GNU Public License)

[init]
defaultBranch = main

[commit]
#gpgsign = true

[core]
# autocrlf = true
checkStat = minimal
compression = -1
editor = nano
hideDotFiles = true
ignoreCase = false
looseCompression = 1
precomposeUnicode = true
quotePath = false
safecrlf = warn
sharedRepository = umask

[gpg]
#program = /usr/bin/gpg2

[merge]
directoryRenames = true
renormalize = true

[pack]
compression = 9

[pull]
# rebase = merges

[push]
default = simple

[user]
name = Miles B Huff
email = MilesBHuff@Users.NoReply.Github.com
# signingkey = 

[color]
ui = auto

[advice]
detachedHead = false
