## Xorg conf file
## Copyright (C) by Miles Bradley Huff from 201?-2019 per the LGPL3 (the Third Lesser GNU Public License)

## Input
#URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

## Fonts
Xft.antialias: 1
Xft.autohint: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

## Terminal colors
*background: #585858
*foreground: #dbdbdb
*color0: #585858
*color1: #ffa5a5
*color2: #67f867
*color3: #e2e252
*color4: #a5a5ff
*color5: #ffa5ff
*color6: #6cefef
*color7: #dbdbdb
*color8: #212121
*color9: #e95c5c
*color10: #0fb00f
*color11: #9c9c00
*color12: #5c5ce9
*color13: #e95ce9
*color14: #00a8a8
*color15: #979797
