## Copyright © by Miles Bradley Huff from 2017 per the LGPL3 (the Third Lesser GNU Public License)
**
## Files to include
!.directory
!.editorconfig
!/etc/**
!.gitignore
!/home/**
!/License.txt
!/ReadMe.rst
!/ToDo.rst
