# Unmaintained filetypes
*.bak
*.pacnew
*.pacsave
*.tmp

# Disable most root directories
/**
!/etc/**
!/home/**

# Enable special files
!/.directory
!/.editorconfig
!/.gitignore
!/ReadMe.rst
!/License.txt
!/ToDo.rst
