## Copyright © by Miles Bradley Huff from 2017 per the LGPL3 (the Third Lesser GNU Public License)
**
## Files to include
!.directory
!.gitignore
!X11/xorg.conf.d/**
!aria2.conf
!asound.conf
!cron.daily/**
!cron.hourly/**
!cron.monthly/**
!cron.weekly/**
!dnsmasq.conf
!fonts/conf.avail.custom/**
!fonts/generate-conf.sh
!hosts.conf
!iptables/**
!libao.conf
!locale.conf
!makepkg.conf
!makepkg-i686.conf
!mkinitcpio.d/**
!mkinitcpio-fallback.conf
!mkinitcpio.conf
!ntp.conf
!openal/alsoft.conf
!pacman.conf
!pulse/client.conf
!pulse/daemon.conf
!resolv-dnsmasq.conf
!resolv.conf
!resolvconf.conf
!security/limits.conf
!sysctl.conf
!sysctl.d/**
!timidity++/timidity.cfg
!ReadMe.rst
!yaourtrc
