## udevadm
## Disk schedulers
## Copyright    by Miles Bradley Huff from 201? per the LGPL3 (the Third Lesser GNU Public License)

## NVMes
ACTION=="add|change", KERNEL=="nvme[0-9]n[0-9]",                      ATTR{queue/scheduler}="kyber"

## eMMCs
ACTION=="add|change", KERNEL=="mmcblk[0-9]",                          ATTR{queue/scheduler}="bfq"

## SATA SSDs
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="bfq"

## SATA HDDs
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq"

## IDE HDDs
ACTION=="add|change", KERNEL=="hd[a-z]",                              ATTR{queue/scheduler}="bfq"
