## udevadm trigger
## man smartctl
## SMART data
## Copyright    by Miles Bradley Huff from 201? per the LGPL3 (the Third Lesser GNU Public License)

#ACTION=="add|change", RUN+="/usr/bin/env smartctl -s on -o on"
